﻿body {
}

hr {

    border: solid 1px red;
}

.customDiv {
    margin-bottom: 10px;
    min-height: 300px;
    background-color: silver;
    text-align: center;
    font-size: large; 
}

.customDivPart15 {
    padding: 10px;
    width: 100%;
}

.sideBarContent {

    margin-bottom: 10px;
    min-height: 150px;
    background-color: silver;
    text-align: center;
    font-size: large;


}

.mainContent {
    margin-bottom: 10px;
    min-height: 310px;
    background-color: silver;
    text-align: center;
    font-size: large;
}